<nav class="navbar navbar-expand-sm navbar-light bg-light mb-3">
        <div class="container">
          <a class="navbar-brand" href="<%= root_path %>">信息管理系统</a>
              <ul class="navbar-nav">
                <li class="nav-item">
                  <%= link_to new_contact_path, class: "nav-link btn btn-sm btn-outline-light" do %>
                    <i class="fa fa-plus"></i>
                    新建信息
                  <% end %>
                </li>
                <li class="nav-item dropdown">
                  <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Dropdown</a>
                  <div class="dropdown-menu">
                    <a href="#" class="dropdown-item">Link 1</a>
                    <a href="#" class="dropdown-item">Link 2</a>
                    <a href="#" class="dropdown-item">Link 3</a>
                  </div>
                </li>
                <li class="nav-item">
                  <%= form_tag(contacts_path, class: "form-inline my-2 my-lg-0", method: :get) do %>
                    <%= hidden_field_tag :group_id, params[:group_id] %>
                    <%= text_field_tag :term, params[:term], class: "form-control mr-sm-1", placeholder: "Search..." %>
                    <button class="btn btn-link input-group-addon" type="submit"><i class="fa fa-search input-group-addon"></i></button>
                  <% end -%>
                </li>
              </ul>

          </div>
    </nav>

